*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
keystore.properties
*.jks
*.keystore
app/build/
gradle/build/
*.apk
*.aab
*.aar
*.ap_
*.dex
